input[type="button"]:not(.link){
    overflow: visible !important;
    background-color: var(--inactive-color);
    color: var(--activate-color);
    width: auto !important;
    height: auto !important;
    padding: 0%;
    border-radius: 3rem;
    box-sizing: border-box;
    border: 1rem solid transparent !important;
    transition: 0.5s;
    max-width: auto !important;
    min-width: auto !important;
    
    cursor: pointer !important;
     /* Ändere die Werte nach Bedarf */
}

#activate_hovered:not(.link){
    transition: 0.5s;
    background-color: var(--inactive-color);
    color: var(--activate-color);
    
    box-shadow: 0 0 0.5rem var(--activate-color);
    cursor: pointer;
}
#active_clicked:not(.link){
    transition: 0.5s;
    background-color: var(--activate-color);
    color: var(--text-color);
    box-shadow: 0 0 0.5rem var(--activate-color);
    cursor: pointer;
    transform: scale(0.95);
}

input[type="button"].link {
    background-color: (var(--transparency-color));
    overflow: visible !important;
    color: var(--text-color);
    width: auto !important;
    height: auto !important;
    padding: 0%;
    transition: 0.5s;
    max-width: auto !important;
    min-width: auto !important;
    border: 0 solid transparent !important;
    cursor: pointer;
}
input[type="button"].link#activate_hovered {
    text-decoration: underline solid var(--text-color);
    transition: 0.5s;
}
input[type="button"].link#active_clicked{
    color: var(--activate-color);
    text-decoration: underline solid var(--activate-color);
    transition: 0.5s;
    transform: scale(0.95);
}

#mainMenuHolder, #infoBoxHolder {
    height: 0%;
    background-color: var(--menu-color);
    transition: 1s ease-in-out;
    transition-delay: 0.5s;
}