<div style="position: absolute; bottom: 0%; max-height: 100%; max-width: 100%; height: 100%; width: 100%;">
    
    <div class="container" id="main_grid" style="position: absolute; bottom: 0%; max-height: 100%; max-width: 100%; height: 100%; width: 100%;">
        
        <menu class="quickmenu" id="notingame" style="position: relative; top: 0; width: auto; left: 0; right: 0%; margin: 0; z-index: 1;">
    
            <input type="button" class="++_$_close_$_++ bigButton" style=" box-sizing: content-box;" value="" onclick="siteLoad('start')">
    
    
        </menu>
        <main style="min-height: 100%; width: 100%; height: 100%; margin: 0; z-index: 1;">
            <div style="width: 100%; max-width: 100%; min-height: 100%; max-width: 100%; overflow: hidden; margin: 0; height: 100%;">
                <div class="text_holder" style="display: grid; grid-template-columns: 1fr minmax(60vw, 800px) 1fr; height: 100%; padding: 0; gap: 1rem; padding: 1rem; box-sizing: border-box; margin-top: -0.2rem;">
        
                    <div></div>
                    <div style="overflow-y: scroll; width: 100%; height: calc(100% - 1rem); grid-template-columns: 1fr; height: 100%; box-sizing: border-box;" class="text_scroll" >
                        <div class="text">
                            <div style="min-height: 5rem; ">
                                <h1 class="result" style="word-break: break-all;"></h2>
                            </div>
                            
                            <div class= "calcField" style="cursor: default; user-select: none; padding: 0; gap: 0.3em; overflow: visible;">
                                <div class="innerGridContainer">
                                    <div class="valueField" style="width: 100%; margin: 0;">
                                        <div></div>
                                        <input type="button" class="++_$_reset_$_++ bigButton" value="" onclick="calc.reset()">
                                        
                                </div> 
                                </div>
                                <div class="innerGridContainer">
                                    <div class="numField" style="width: 100%; margin: 0;">
                                        <input type="button" class="bigButton" value="1" onclick="calc.copyToNumbar()">
                                        <input type="button" class="bigButton" value="2" onclick="calc.copyToNumbar()">
                                        <input type="button" class="bigButton" value="3" onclick="calc.copyToNumbar()">
                                        <input type="button" class="bigButton" value="4" onclick="calc.copyToNumbar()">
                                        <input type="button" class="bigButton" value="5" onclick="calc.copyToNumbar()">
                                        <input type="button" class="bigButton" value="6" onclick="calc.copyToNumbar()">
                                        <input type="button" class="bigButton" value="7" onclick="calc.copyToNumbar()">
                                        <input type="button" class="bigButton" value="8" onclick="calc.copyToNumbar()">
                                        <input type="button" class="bigButton" value="9" onclick="calc.copyToNumbar()">
                                        <input type="button" class="bigButton" value="0" onclick="calc.copyToNumbar()">
                                        <input type="button" class="bigButton" value="00" onclick="calc.anewCopyToNumbar()">
                                        <input type="button" class="bigButton" value="." onclick="calc.copyToNumbar()">

                                    </div>
                                    <div class="interactionField" style="width: 100%; margin: 0;">
                                        
                                        <input type="button" class="bigButton" value="-" onclick="calc.copyToNumbar()">
                                        <input type="button" class="bigButton" value="+" onclick="calc.copyToNumbar()">
                                        <input type="button" class="bigButton" value="/" onclick="calc.copyToNumbar()">
                                        <input type="button" class="bigButton" value="*" onclick="calc.copyToNumbar()">
                                        <input type="button" class="bigButton" value="=" onclick="calc.result()">
                                    </div>
                                </div>
                                
                                <link rel="stylesheet" href="styles/apps/calc/main.css">
                            </div>
                        </div>
                    </div>
                    <div></div>
                </div>
                
            </div>
        </main>
    </div>
</div>
