
:root {
    --transparency-color: rgba(0, 0, 0, 0);
    --half-transparency-color: rgba(0, 0, 0, 0.500);
}
#lightmode {
    --text-color: rgb(0, 0, 0);
    --background-color: rgb(255, 255, 255);
    --activate-color: rgb(209, 111, 20);
    --inactive-color: rgb(219, 216, 216);
    --menu-color: rgb(170, 166, 166);
}

#darkmode {
    --text-color: rgb(255, 255, 255);
    --background-color: rgb(0, 0, 0);
    --activate-color: #58d5ff;
    --inactive-color: rgb(105, 105, 105);
    --menu-color: rgb(41, 41, 41);
    
}

*:not(.allow-select){
    cursor: default;
    user-select: none;
}

body {
    font-family: sans-serif;
    font-size: medium;
    color: var(--text-color);
    background-color: var(--background-color);
}

footer {
    background-color: var(--menu-color);
}

menu {
    background-color: var(--menu-color);
    max-width: auto !important;
    min-width: auto !important;
    
}
* {
    font-size: 7mm;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 2rem;
}

iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
}






