
:root {
    --transparency-color: rgba(0, 0, 0, 0);
    --half-transparency-color: rgba(0, 0, 0, 0.500);
}
#lightmode {
    --text-color: rgb(0, 0, 0);
    --background-color: rgb(255, 255, 255);
    --activate-color: rgb(209, 111, 20);
    --inactive-color: rgb(219, 216, 216);
    --menu-color: rgb(170, 166, 166);
}

#darkmode {
    --text-color: rgb(255, 255, 255);
    --background-color: rgb(0, 0, 0);
    --activate-color: #58d5ff;
    --inactive-color: rgb(105, 105, 105);
    --menu-color: rgb(41, 41, 41);
    
}

*:not(.text:nth-child()){
    cursor: default;
    user-select: none;
}
.text:nth-child() {
    cursor: text;
    user-select: text;
}



body {
    font-family: sans-serif;
    font-size: medium;
    color: var(--text-color);
    background-color: var(--background-color);
}

footer {
    background-color: var(--menu-color);
}

menu {
    background-color: var(--menu-color);
    max-width: auto !important;
    min-width: auto !important;
    
}


iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.process_representation, .load_animation, .content_holder, .crossfade, .background_holder {
    width: 100%;
    height: 100%;
    
    position: absolute;
}

.loadArea,  .percentage_progress{
    overflow: visible;
    width: 10em;
    height: 10em;
    /* Zentriere horizontal und vertikal */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 0.5em solid var(--text-color); /* Kreis mit rotem Rand */
    border-top-color: transparent;
   
    animation: spin 2s linear infinite; /* Spin-Animation */
    position: absolute; /* Ändere die Positionierung auf absolut */
}

.blurred-spinner {
    filter: blur(5px); /* Unscharfer Effekt */
}


@keyframes spin {
    100% {
        transform: rotate(360deg); /* Vollständige Drehung */
    }
}

.crossfade {

    background-color: var(--transparency-color);
    transition: 2s ease-in-out;
    visibility: hidden;
}
.crossfade.active {
    background-color: var(--background-color);
    visibility: visible;
    transition-delay: 0.2.5s;
} 
.background_holder {
    width: 100%; height: 100%;
    background-color: var(--background-color);
}

.percentage_progress {
        text-align: center;
    
    
    }










