<div class="container" id="main_grid" style="position: relative; bottom: 100%">
        
    <menu class="quickmenu" id="notingame">
        <input type="button" value="Ändere Farbschema" onclick="changeTheme()" style=" box-sizing: content-box;">

 
        <input type="button" value="Mehr Optionen" style=" box-sizing: content-box;" onclick="getScript('Script1')">


    </menu>
    <main>

    </main>
    <footer>
        <div style="text-align: left;"><input type="button" class="link" value="Lizenz" onclick="slide('random', 'body')"></div>
        <div style="text-align: right;"><input type="button" class="link" value="Impressum und Datenschutz" onclick="getTemplate('license', '#darkmode')"></div>
    </footer>
</div>