<div class="container containerX" id="mainMenuHolder" style=" position: absolute; bottom: 0%; width: 100%; height: 100%; background-color: aqua;">
    <menu class="mainMenu" overflow="visible">
        <div class="container" id="main_grid" style="width: 100%; height: 100%">
            <div class="window_header" style="grid-area: header; height: auto; text-align: right;">
                <input type="button" style=" box-sizing: content-box;" class="bigButton ++_$_interaction:close_$_++" onclick="createNewSite('.content_holder', '.containerX', '.testCardBlue', 'up', false)">
            </div>
            <div class="window_main" style="grid-area: main; overflow-y: scroll;">
                <div style="background-color: blue; height: 1000%; width: 100%; ">
                    <h1 class="++_$_headline_$_++"></h1>
                    <p class="++_$_text_$_++"></p>
                </div>
            </div>
        </div>
    </menu>
</div>
