<div style="position: absolute; bottom: 0%; max-height: 100%; max-width: 100%; height: 100%; width: 100%;">
    <div class="container" id="main_grid" style="position: absolute; bottom: 0%; max-height: 100%; max-width: 100%; height: 100%; width: 100%;">
        
        <menu class="quickmenu" id="notingame" style="position: relative; top: 0; width: auto; left: 0; right: 0%; margin: 0; z-index: 1;">
            <input type="button" class="bigButton ++_$_changeColor_$_++" value=""onclick="changeTheme()" style=" box-sizing: content-box;">
    
            <input type="button" class="bigButton ++_$_moreOptions_$_++" value=""style=" box-sizing: content-box;" onclick="createNewSite('.content_holder', '.start', '.moreOptions', 'up', 'setNewURL', true)">
    
    
        </menu>
        <main style="min-height: 100%; width: 100%; height: 100%; margin: 0; z-index: 1;">
            <div style="width: 100%; max-width: 100%; min-height: 100%; max-width: 100%; overflow: hidden; margin: 0; height: 100%;">
                <div class="text_holder" style="display: grid; grid-template-columns: 1fr minmax(60vw, 800px) 1fr; height: 100%; padding: 0; gap: 1rem; padding: 1rem; box-sizing: border-box; margin-top: -0.2rem;">
        
                    <div></div>
                    <div style="overflow-y: scroll; width: 100%; height: calc(100% - 1rem); grid-template-columns: 1fr; height: 100%; box-sizing: border-box;" class="text_scroll" >
                        <div class="text" style="padding: 0%; cursor: default;
                        user-select: none;">
                            <input type="button" class="bigButton ++_$_calc_$_++" value="" style="margin: 0.5em; min-width: 100%;" onclick="createNewSite('.content_holder', '.start', '.calc', 'right', 'setNewURL', true)">
                            <input type="button" class="bigButton ++_$_paint_$_++" value="" style="margin: 0.5em; min-width: 100%;">
                            <input type="button" class="bigButton ++_$_snake_$_++" value="" style="margin: 0.5em; min-width: 100%;">
                        </div>
                        
                    </div>
                    <div></div>
                </div>
                
            </div>
        </main>
        
        
        <footer style="position: absolute; bottom: 0%; width: auto; left: 0; right: 0%; margin: 0; z-index: 1;">
            <div style="text-align: left;"><input type="button" class="link ++_$_creds_$_++" value="" onclick="createNewSite('.content_holder', '.start', '.creds', 'down', 'setNewURL', true)"></div>
            <div style="text-align: right;"><input type="button" class="link ++_$_imprintAndPrivacyPolicy_$_++"  value="" onclick="createNewSite('.content_holder', '.start', '.imprintAndPrivacyPolicy', 'down', 'setNewURL', true)"></div>
        </footer>
    </div>
</div>