<div class="container start" id="main_grid" style="position: absolute; bottom: 0%">
            
    <menu class="quickmenu" id="notingame">
        <input type="button" class="bigButton ++_$_interaction:changeColor_$_++" onclick="changeTheme()" style=" box-sizing: content-box;">

        <input type="button" class="bigButton ++_$_interaction:moreOptions_$_++" style=" box-sizing: content-box;" onclick="createNewSite('body', '.start', '.moreOptions', 'up', true)">


    </menu>
    <main>

    </main>
    <footer>
        <div style="text-align: left;"><input type="button" class="link ++_$_interaction:license_$_++" onclick="createNewSite('body', '.start', '.license', 'down', true)"></div>
        <div style="text-align: right;"><input type="button" class="link ++_$_interaction:imprintAndPrivacyPolicy_$_++"  onclick="createNewSite('body', '.start', '.imprintAndPrivacyPolicy', 'down', true)"></div>
    </footer>
</div>