input[type="button"].bigButton{
    overflow: visible !important;
    background-color: var(--inactive-color);
    color: var(--activate-color);
    width: auto !important;
    height: auto !important;
    padding: 0%;
    border-radius: 3rem;
    box-sizing: border-box;
    border: 1rem solid transparent !important;
    max-width: auto !important;
    min-width: auto !important;
    
    cursor: pointer !important;
    transform: scale(1);
}

input[type="button"].bigButton:hover{
    transition: 0.5s;
    background-color: var(--inactive-color);
    color: var(--activate-color);
    
    box-shadow: 0 0 0.5rem var(--activate-color);
    cursor: pointer;
}
input[type="button"].bigButton:focus{
    transition: 0.5s;
    background-color: var(--activate-color);
    color: var(--text-color);
    box-shadow: 0 0 0.5rem var(--activate-color);
    cursor: pointer;
    transform: scale(0.95);
}

input[type="button"].link {
    background-color: (var(--transparency-color));
    overflow: visible !important;
    color: var(--text-color);
    width: auto !important;
    height: auto !important;
    padding: 0%;
    max-width: auto !important;
    min-width: auto !important;
    border: 0 solid transparent !important;
    cursor: pointer;
    transform: scale(1);
}
input[type="button"].link:hover {
    text-decoration: underline solid var(--text-color);
    transition: 0.5s;
}
input[type="button"].link:focus{
    color: var(--activate-color);
    text-decoration: underline solid var(--activate-color);
    transition: 0.5s;
    transform: scale(0.95);
}

#mainMenuHolder, #infoBoxHolder {
    height: 0%;
    background-color: var(--menu-color);
    transition: 1s ease-in-out;
    transition-delay: 0.5s;
}







::-webkit-scrollbar {
    width: 3mm;
}
::-webkit-scrollbar-track {
    background-color: var(--transparency-color);
}

::-webkit-scrollbar-thumb {
    background: var(--menu-color);
    cursor: pointer;
    border-radius: 100vw;
    transition: 1s ease-in-out;
    transition-delay: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
    width: 4mm;
    background: var(--inactive-color);
    transition: 1s ease-in-out;
    transition-delay: 0.5s;
}

