.valueButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: auto;
    max-width: calc(100% - 1em);
    margin: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-left: calc(50% - 1em);
    padding-right: calc(50% - 1em);
    box-sizing: border-box; /* Innenabstand wird von der Breite abgezogen */
}



.calcField{
    display: grid;
            
            grid-template-rows: auto auto auto;
            
}

.valueField {
    grid-area: h;
    display: grid;
    gap: 0em;
    grid-template-columns: 2fr 1fr;
}
.valueField:nth-child(n) {
    margin: 0 !important;
    
}
.valueField > :nth-child(2) {
}
.valueField > :nth-child(1) {
    
}

.interactionField {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    

}
.interactionField:nth-child(n) {
    margin: 0 !important;
}
.numField {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5em;
}
.numField:nth-child(n) {
    margin: 0 !important;
}
.calcField > :nth-child(n) > :nth-child(n){
    padding: 0.1em !important;
    gap: 1em !important;
    
}
.calcField > :nth-child(2) {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.interactionField {
    
}