.valueButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: auto;
    max-width: calc(100% - 1em);
    margin: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-left: calc(50% - 1em);
    padding-right: calc(50% - 1em);
    box-sizing: border-box; /* Innenabstand wird von der Breite abgezogen */
}



.calcField{
    display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto auto;
            grid-template-areas: 
            "h h h"
            "num num num"
            "o o o";
            gap: 0;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            border-radius: 0;
            
}

.valueField {
    grid-area: h;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 0em;
}
.valueField:nth-child(n) {
    margin: 0 !important; 
}

.interactionField {
    grid-area: o;
}
.interactionField:nth-child(n) {
    margin: 0 !important;
}
.numField {
    grid-area: num;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5em;
}
.numField:nth-child(n) {
    margin: 0 !important;
}
.calcField :child {
    padding: 1em !important;
    gap: 1em !important;
    
}
